/* Login.css */
.login-container {
  background-color: #f5fde8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.login-title {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 800; 
  color: #1a202c; 
}

body{
  background-color: #F8FBFF; /* Color de fondo para las áreas no cubiertas */
  background-image: url('takosu.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:300px; /* Reducir el tamaño de la imagen  */
  
}
